@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

:root {
    --main-color: lightblue;
    --accent-color: #758190;
}

body {
    font-family: 'Cabin';
    background-color: var(--accent-color);
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: var(--main-color);
    padding: 1%;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    gap: 0 2rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 10%;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

button:hover {
    background-color: var(--main-color);
    transition: 1s;
}

#games-description-container, #description-container {
    text-align: center;
}

a {
    color: var(--accent-color);
    font-weight: bold;
}

h2 {
    text-align: center;
    color: var(--main-color);
    text-decoration: underline;
}

.stats-card-container {
    display: flex;
}

.stats-card {
    background-color: #a8b0bc;
    border: 2px solid var(--main-color);
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
    transition: background-color 0.75s, font-size 0.75s;
}

.stats-card:hover {
    background-color: var(--main-color);
    font-size: large ;
}

#search {
    background-color: var(--main-color);
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 10px;
    padding: 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#search h2 {
    color: var(--accent-color);
}